@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #312f2a;
}
.window {
  margin: 0 !important;
  overflow: auto !important;
  background-color: #312f2a !important;
  font-family: auto !important;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url('/assets/images/icon/scrollbar-up.svg') !important;
}
::-webkit-scrollbar-button:vertical:start:active {
  background-image: url('/assets/images/icon/scrollbar-up-active.svg') !important;
}
::-webkit-scrollbar-button:vertical:end {
  background-image: url('/assets/images/icon/scrollbar-down.svg') !important;
}
::-webkit-scrollbar-button:vertical:end:active {
  background-image: url('/assets/images/icon/scrollbar-down-active.svg') !important;
}

::-webkit-scrollbar-button:horizontal:start {
  background-image: url('/assets/images/icon/scrollbar-left.svg') !important;
}
::-webkit-scrollbar-button:horizontal:start:active {
  background-image: url('/assets/images/icon/scrollbar-left-active.svg') !important;
}
::-webkit-scrollbar-button:horizontal:end {
  background-image: url('/assets/images/icon/scrollbar-right.svg');
}
::-webkit-scrollbar-button:horizontal:end:active {
  background-image: url('/assets/images/icon/scrollbar-right-active.svg') !important;
}

::-webkit-scrollbar {
  background: #ffffff !important;
}

::-webkit-scrollbar-thumb {
  background-color: #fff !important;
  border: 2px solid #000 !important;
  border-right: none !important;
  box-sizing: content-box !important;
  width: 20px !important;
}
::-webkit-scrollbar-track {
  background: linear-gradient(
      45deg,
      #000 25%,
      transparent 0,
      transparent 75%,
      #000 0,
      #000
    ),
    linear-gradient(
      45deg,
      #000 25%,
      transparent 0,
      transparent 75%,
      #000 0,
      #000
    );
  background-color: #fff;
  background-position: 0 0, 2px 2px !important;
  background-size: 4px 4px !important;
  border-left: 3px solid #000 !important;
  width: 10px !important;
}

a:hover,
button:hover {
  cursor: url('/assets/images/pointer-hover.svg') 25 25, auto !important;
}

a:hover {
  color: #ff4c6c;
  text-decoration: none;
}
