@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #312f2a;
}
.window {
  margin: 0 !important;
  overflow: auto !important;
  background-color: #312f2a !important;
  font-family: auto !important;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url('/assets/images/icon/scrollbar-up.svg') !important;
}
::-webkit-scrollbar-button:vertical:start:active {
  background-image: url('/assets/images/icon/scrollbar-up-active.svg') !important;
}
::-webkit-scrollbar-button:vertical:end {
  background-image: url('/assets/images/icon/scrollbar-down.svg') !important;
}
::-webkit-scrollbar-button:vertical:end:active {
  background-image: url('/assets/images/icon/scrollbar-down-active.svg') !important;
}

::-webkit-scrollbar-button:horizontal:start {
  background-image: url('/assets/images/icon/scrollbar-left.svg') !important;
}
::-webkit-scrollbar-button:horizontal:start:active {
  background-image: url('/assets/images/icon/scrollbar-left-active.svg') !important;
}
::-webkit-scrollbar-button:horizontal:end {
  background-image: url('/assets/images/icon/scrollbar-right.svg');
}
::-webkit-scrollbar-button:horizontal:end:active {
  background-image: url('/assets/images/icon/scrollbar-right-active.svg') !important;
}
